{% extends "administrador/layout.html" %}
{% load staticfiles %}
{% block title %}Contenidos{% endblock title %}

{% block selmenucontenido %}active{% endblock selmenucontenido %}

{% block content %}
<!-- BEGIN CONTENT -->
<div class="container-fluid">
	<div class="animated fadeIn">
		<div class="row">
			<div class="col-lg-12">
				<div class="card ">
					<div class="card-header">
						<div class="row">
							<div class="col-md-10"><h3>Contenidos</h3></div>
							<div class="col-md-2 text-right"><a href="/manage/contenidonewedit/add" class="btn btn-primary addItemBtn">Agregar nuevo</a></div>
						</div>
					</div>
					<div class="card-body">
						<div id="tokendiv">
							{% csrf_token %}
						</div>
						<table id="data-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>
										ID
									</th>
									<th>
										Titulo
									</th>
									<th>
										Ordernar
									</th>
									<th>
										Acciones	
									</th>
								</tr>
							</thead>
							<tbody>
								{% for contentd in contenidos %}
								<tr id="fila-anime{{contentd.id}}">
									<td>
										<div>
											<span>{{contentd.id}}</span>
										</div>
									</td>
									<td>
										<div>
											<span>{{contentd.titulo}}</span>
										</div>
									</td>
									<td>
										<a href="#" class="btn btn-secondary">
											<i class="fa fa-sort"></i>
										</a>
									</td>
									<td>
										<div>
											<a href="/manage/contenidonewedit/edit/{{contentd.id}}" class="btn btn-primary"><i class="fa fa-cogs"></i> Modificar</a>
											<a href="/manage/deletecontenido/{{contentd.id}}" class="btn btn-danger delete-datos" data-id="{{contentd.id}}"><i class="fa fa-remove"></i> Borrar</a>
										</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END CONTENT -->
{% endblock content %}
{% block js %}
	<script src="{% static 'js/lib/jquery.form.js' %}"></script>
	<script src="{% static 'js/lib/jquery-ui.min.js' %}"></script>
	<script src="{% static 'js/contenido_admin.js' %}"></script>
{% endblock js %}