{% extends "administrador/layout.html" %}
{% load staticfiles %}
{% block title %}Contenidos{% endblock title %}

{% block selmenucontenido %}active{% endblock selmenucontenido %}

{% block content %}
<!-- BEGIN CONTENT -->
<div class="container-fluid">
	<div class="animated fadeIn">
		<div class="row">
			<div class="col-lg-12">
				<div class="card ">
					<div class="card-header">
						<div class="row">
							<div class="col-md-10"><h3>Sliders <small>{{actiontype.texto}}</small></h3></div>
						</div>
					</div>
					<div class="card-body">
						{% if actiontype.tipo == 'add' %}
							<form id="sliderForm" action="{% url 'manage:postnewcontenido' %}" method="post" enctype="multipart/form-data">
								{% csrf_token %}
								<input type="hidden" id="actiontype" name="actiontype" value="{{actiontype.tipo}}" />
								<div class="form-group">
									<label class="control-label">Titulo</label>
									<input type="text" id="titulo" name="titulo" class="form-control no-padding-control" placeholder="Titulo de slider">
								</div>
								<div class="form-group">
									<label class="control-label">Texto</label>
									<textarea id="texto" class="form-control my-editor" name="texto" rows="15"></textarea>
								</div>
								<div class="form-group">
									<label for="home" class="control-label">Activo</label>
									<label class="radio-inline">
										<input type="radio" name="activo" id="activoS" value="si" checked="true">Si
									</label>
									<label class="radio-inline">
										<input type="radio" name="activo" id="activoN" value="no" >No
									</label>
								</div>
								<div class="form-actions right">
									<a href="{% url 'manage:contenidos' %}" class="btn default">Cancelar</a>
									<button id="enviar" class="btn blue"><i class="fa fa-check"></i> Guardar</button>
								</div>
							</form>
						{% elif actiontype.tipo == 'edit' %}
							<form id="sliderForm" action="{% url 'manage:posteditcontenido' %}" method="post" enctype="multipart/form-data">
								{% csrf_token %}
								<input type="hidden" name="id" id="id" value="{{contenido.id}}">
								<input type="hidden" id="actiontype" name="actiontype" value="{{actiontype.tipo}}" />
								<div class="form-group">
									<label class="control-label">Titulo</label>
									<input type="text" id="titulo" name="titulo" class="form-control no-padding-control" placeholder="Titulo de slider" value="{{contenido.titulo}}">
								</div>
								<div class="form-group">
									<label class="control-label">Texto</label>
									<textarea id="texto" class="form-control my-editor" name="texto" rows="15">{{contenido.texto}}</textarea>
								</div>
								<div class="form-group">
									<label for="home" class="control-label">Activo</label>
									<label class="radio-inline">
										<input type="radio" name="activo" id="activoS" value="si" {{activo.si}}>Si
									</label>
									<label class="radio-inline">
										<input type="radio" name="activo" id="activoN" value="no" {{activo.no}}>No
									</label>
								</div>
								<div class="form-actions right">
									<a href="{% url 'manage:contenidos' %}" class="btn default">Cancelar</a>
									<button id="enviar" class="btn blue"><i class="fa fa-check"></i> Guardar</button>
								</div>
							</form>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END CONTENT -->
{% endblock content %}
{% block js %}
	<script src="{% static 'js/lib/jquery.form.js' %}"></script>
	<script src="{% static 'js/lib/jquery-ui.min.js' %}"></script>
	<script src="{% static 'js/contenido_admin.js' %}"></script>
	<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
	<script>
	  var editor_config = {
	    path_absolute : "/",
	    selector: "textarea.my-editor",
	    plugins: [
	      "advlist autolink lists link image charmap print preview hr anchor pagebreak",
	      "searchreplace wordcount visualblocks visualchars code fullscreen",
	      "insertdatetime media nonbreaking save table contextmenu directionality",
	      "emoticons template paste textcolor colorpicker textpattern"
	    ],
	    toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image media",
	    relative_urls: false,
	    file_browser_callback : function(field_name, url, type, win) {
	      var x = window.innerWidth || document.documentElement.clientWidth || document.getElementsByTagName('body')[0].clientWidth;
	      var y = window.innerHeight|| document.documentElement.clientHeight|| document.getElementsByTagName('body')[0].clientHeight;

	      var cmsURL = '/admin-manage/filebrowser/browse/'

	      tinyMCE.activeEditor.windowManager.open({
	        file : cmsURL,
	        title : 'Filemanager',
	        width : x * 0.8,
	        height : y * 0.8,
	        resizable : "yes",
	        close_previous : "no"
	      });
	    },
	    setup: function (editor) {
	    	editor.on('change', function () {
	    		editor.save();
	    	});
	    }
	  };

	  tinymce.init(editor_config);
	</script>
{% endblock js %}