  <header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">☰</button>
    <a class="navbar-brand" href="{% url "manage:homeadmin" %}"></a>
    <button class="navbar-toggler sidebar-minimizer d-md-down-none" type="button">☰</button>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>
                {% if request.user.is_authenticated %}
                <span class="d-md-down-none">{{request.user.username}}</span>
                {% endif %}
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#"><i class="fas fa-user"></i> Perfil</a>
                <a class="dropdown-item" href="{% url "manage:logout" %}"><i class="fas fa-lock"></i> Logout</a>
            </div>
        </li>
    </ul>
  </header>