<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link {% block selmenuadmin %}{% endblock %}" href="{% url 'manage:homeadmin' %}">
                    <i class="icon-speedometer"></i> Home 
                    <span class="badge badge-primary" style="display: none;">NEW</span>
                </a>
            </li>

            <li class="divider"></li>
            <li class="nav-title">
                Secciones
            </li>
            <li class="nav-item">
              <a class="nav-link {% block selmenuslider %}{% endblock %}" href="{% url 'manage:slider' %}">
                <i class="fas fa-images"></i> Slider
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% block selmenucontenido %}{% endblock %}" href="{% url 'manage:contenidos' %}">
                <i class="fa fa-align-justify"></i> Contenidos
              </a>
            </li>
            <!-- SUBMENU -->
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i> Submenu</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="icon-star"></i> Link1 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="icon-star"></i> Link2</a>
                    </li>
                </ul>
            </li>
            <!-- END SUBMENU -->
        </ul>
    </nav>
</div>