@import 'variables';

$breadcrumb-padding-y:          .75rem !default;
$breadcrumb-padding-x:          1rem !default;
$breadcrumb-item-padding:       .5rem !default;

$breadcrumb-bg:                 $gray-200 !default;
$breadcrumb-divider-color:      $gray-600 !default;
$breadcrumb-active-color:       $gray-600 !default;

$text-muted: $gray-600 !default;

.breadcrumb-menu {
  position: absolute;
  top: 0;
  right: $breadcrumb-padding-x;

  &::before {
    display: none;
  }

  .btn {
    padding-top: $breadcrumb-padding-y;
    padding-bottom: $breadcrumb-padding-y;
  }

  .btn {
    color: $text-muted;

    &:hover, &.active {
      color: $body-color;
      background: transparent;
    }
  }

  .open {
    .btn {
      color: $body-color;
      background: transparent;
    }
  }

  .dropdown-menu {
    min-width: 180px;
    line-height: $line-height-base;
  }
}
