// Here you can add other styles
#customFile .custom-file-control:lang(en)::after {
  content: "Select file...";
}

#customFile .custom-file-control:lang(en)::before {
  content: "Click me";
}

/*when a value is selected, this class removes the content */
.custom-file-control.selected:lang(en)::after {
  content: "" !important;
}

.custom-file {
  overflow: hidden;
}
.custom-file-control {
  white-space: nowrap;
}

.no-padding{
	padding: 0
}

$heightminiatura: 80px;
.div-table{
	height: $heightminiatura;
}
.formlogin{
	box-sizing: border-box;
}
.logo{
	margin: 0 auto 2rem auto;
	width: 150px;
}
.avatar-perfil{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 100%;
	height: 500px;
	margin: 0 auto;
	width: 500px;
}
.loading-adming{
	background: rgba(0,0,0,0.7);
	display: none;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 80;
}

	.loading-adming.open{
		display: flex;
	}
.miniatura{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: $heightminiatura;
	width: 150px;
}
// CUSTOM STYLES*****************************************
.input-icon{
	position: relative
}

.iconManageLogin{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 35px;
    padding: 5px 10px;
    border-right: 1px solid #ccc;
    font-size: 1.5rem;
    line-height: 1;
}


.form-control {
    padding: 0.5rem 2.75rem;
}

.btnLogin{
	width: 100%
}

.mainLoginForm{
	padding: 10%
}

figure{
	img{
		display: block;
		width: 100%;
	}
}
.display-none{
	display:none;
}
.forget-password{
	a{
		color: #fff;
	}
}
.formlogin{
	background: rgba(255,255,255,0.5);
	height: 100vh;
	.caja{
		width:60%;
	}
}
.no-padding-control{
	padding: 0.5rem 0.75rem;
}
.card{
	margin-top: 20px;
	.texto-i{
		width: 44%;
	}
	@media screen and (max-width: 780px){
		.texto-i{
			width: 100%;
		}
	}
}
.card-imagen-p{
	@media screen and (max-width: 780px){
		flex-direction: column;
	}
}
.card-p-imagen{
	border: 1px solid #536c79;
	margin: 16px;
	width: 165px;
	@media screen and (max-width: 780px){
		margin: 10px auto 10px auto;
		width: 90%;
	}
}
.addItemBtn{
	margin: 0 !important
}
p{
	color: white
}
.caja-form{
	height: 100vh;
}
.recordar-pass{
	background: rgba(0,0,0,0.8);
	display: none;
	position: absolute;
	z-index: 50;
	height: 100%;
	width: 100%;
	form{
		width: 20%;
		button{
			font-size: 15px;
			margin-right: 1rem;
			padding: 5px 8px;
		}
		button:last-child{
			margin-right: 0;
		}
	}
}
.recordar-pass.open{
	display: flex;
}