#modalLoader, .modalLoader {
    display: none;
    opacity: .9;
    position: fixed;
    top: 0;
    left: 0;
    background: #3b3b3b;
    width: 100%;
    height: 100vh;
    z-index: 10000;
}

#modalLoaderCont, .modalLoaderCon{
	position: relative;
	width: 100%;
	height: 100vh;
}

#loading,.loading {
	height: 20px;
	width: 250px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 999999
}

.loader--dot {
	animation-name: loader;
	animation-timing-function: ease-in-out;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	background-color: black;
	position: absolute;
	border: 2px solid white;
}

.loader--dot:first-child {
	background-color: #8cc759;
	animation-delay: 0.5s;
}

.loader--dot:nth-child(2) {
	background-color: #8c6daf;
	animation-delay: 0.4s;
}

.loader--dot:nth-child(3) {
	background-color: #ef5d74;
	animation-delay: 0.3s;
}

.loader--dot:nth-child(4) {
	background-color: #f9a74b;
	animation-delay: 0.2s;
}

.loader--dot:nth-child(5) {
	background-color: #60beeb;
	animation-delay: 0.1s;
}

.loader--dot:nth-child(6) {
	background-color: #fbef5a;
	animation-delay: 0s;
}

@keyframes loader {
	15% {
		transform: translateX(0);
	}

	45% {
		transform: translateX(230px);
	}

	65% {
		transform: translateX(230px);
	}

	95% {
		transform: translateX(0);
	}
}