// Below 34em (544px)
//
@include media("<xs") {
}

// Above 34em (544px)
//
@include media(">xs") {
}

// Below 48em (768px)
//
@include media("<md") {
}

// Between 34em (544px) and 48em (768px)
//
@include media(">sm", "<md") {
}

// Above 48em (768px)
//
@include media(">sm") {
}

// Below 62em (992px)
//
@include media("<lg") {
}

// Between 48em (768px) and 62em (992px)
//
@include media(">md", "<lg") {
}

// Above 62em (992px) 
//
@include media(">lg") {
}

// Below 75em (1200px)
//
@include media("<xl") {
}

// Between 62em (992px) and 75em (1200px)
//
@include media(">lg", "<xl") {
}

// Above 75em (1200px)
//
@include media(">xl") {
}

// Retine declarations, even with other breakpoints
//
@include media("retina2x", ">xl") {
}// Below 34em (544px)
//
@include media("<xs") {
}

// Above 34em (544px)
//
@include media(">xs") {
}

// Below 48em (768px)
//
@include media("<md") {
}

// Between 34em (544px) and 48em (768px)
//
@include media(">sm", "<md") {
}

// Above 48em (768px)
//
@include media(">sm") {
}

// Below 62em (992px)
//
@include media("<lg") {
}

// Between 48em (768px) and 62em (992px)
//
@include media(">md", "<lg") {
}

// Above 62em (992px) 
//
@include media(">lg") {
}

// Below 75em (1200px)
//
@include media("<xl") {
}

// Between 62em (992px) and 75em (1200px)
//
@include media(">lg", "<xl") {
}

// Above 75em (1200px)
//
@include media(">xl") {
}

// Retine declarations, even with other breakpoints
//
@include media("retina2x", ">xl") {
}