// Import Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap source files
@import "../../node_modules/bootstrap/scss/bootstrap";

// Override core variables
@import "core-variables";

// Import core styles
@import "core/core";

// Import vendors styles
@import "vendors/vendors";

//Import loading
@import "loading";

// Custom styles
@import "custom";


table{
	.center-text,
	.center-text,
	.center-text{
		text-align: center;
	}
}