@import 'variables.css';
body {
	background: #fff;
	font-family: $fontPrincipal;
	color: $black;
	font-size: $fontSize;
}

h1,h2,h3,h4,h5,h6{
  font-family: $fontPrincipal;
  font-weight: bold;
}

p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1
}

a {
  color: $paleGrey;
  font-size: 1em;
  font-weight: 300;
}

figure{
  margin: 0 auto;
  & img{
    display: block;
    width: 100%;
  }
}

hr{
  border-top: 1px solid $paleGrey;
}

.noPadding, .noPad{
  padding: 0;
}

.sep10{
  margin-top: 10px;
}
.sep20{
  margin-top: 20px;
}
.sep40{
  margin-top: 40px;
}
.sep50{
  margin-top: 50px;
}
.sep60{
  margin-top: 60px;
}
.sep80{
  margin-top: 80px;
}
.sep100{
  margin-top: 100px;
}

.center{
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.imgResponsive,.imgRes{
  width: 100%;
}

.imgResMob{
    @media $Xs {
    width: 100%;
  } 
}

input:focus,
textarea:focus
{
	outline: none;
}

input::-moz-focus-inner { 
  border: 0; 
}

a img {outline : none;}

img {border : 0;}

button, 
button:link, 
button:focus, 
button:active,
button:hover,
button:visited,
.btn,
.btn:link,
.btn:focus,
.btn:active,
.btn:hover,
.btn:visited,
a,
a:link,
a:focus,
a:active,
a:hover,
a:visited
{
	border : 0; 
	outline:none;
	outline:0;
	border-color: transparent;
}

.clearfix{
	clear: both;
}

.des{
	display: block !important;
	@media $Xs {
		display: none !important;
	} 
}

.mob{
	display: none !important;
	@media $Xs {
		display: block !important;
	} 
}