@font-face {
  font-family: 'FFMarkPro';
  src: url('../fonts/fuentes/FFMarkPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fuentes/FFMarkPro-Light.woff') format('woff'), url('../fonts/fuentes/FFMarkPro-Light.ttf')  format('truetype'), url('../fonts/fuentes/FFMarkPro-Light.svg#FFMarkPro-Regular') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'FFMarkPro';
  src: url('../fonts/fuentes/FFMarkPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fuentes/FFMarkPro-Regular.woff') format('woff'), url('../fonts/fuentes/FFMarkPro-Regular.ttf')  format('truetype'), url('../fonts/fuentes/FFMarkPro-Regular.svg#FFMarkPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FFMarkPro';
  src: url('../fonts/fuentes/FFMarkPro-Bold.eot?#iefix') format('embedded-opentype'),  
        url('../fonts/fuentes/FFMarkPro-Bold.woff') format('woff'), url('../fonts/fuentes/FFMarkPro-Bold.ttf')  format('truetype'), url('../fonts/fuentes/FFMarkPro-Bold.svg#FFMarkPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FFMarkPro';
  src: url('../fonts/fuentes/FFMarkPro-Black.eot?#iefix') format('embedded-opentype'),  
        url('../fonts/fuentes/FFMarkPro-Black.woff') format('woff'), url('../fonts/fuentes/FFMarkPro-Black.ttf')  format('truetype'), url('../fonts/fuentes/FFMarkPro-Black.svg#FFMarkPro-Bold') format('svg');
  font-weight: 800;
  font-style: normal;
}