@import 'fuentes.css';

$fontPrincipal: 'FFMarkPro';
$fontSecundario: 'Roboto';
$fontSize: 16px;

/*COLORS*/
$paleGrey: #858585;
$normalGrey: #5d5d5d;
$darkGrey: #4d4d4d;

$black: #262626;

$colorText1: #000;
$colorText2: #fff;
$colorText3: #cac6c6;

$margenContainer: 1140px;

/*MEDIA QUERIES*/
$Xs: (max-width: 575px);
$Sm: (max-width: 767px);
$Md: (max-width: 991px);
$Lg: (max-width: 1199px);

$pcEstablecida: (max-width: 1400px);
$pcM: (max-width: 1300px);
$pcm: (max-width: 1250px);
$pc: (max-width: 1200px);
$pcSXp: (max-width: 1010px);
$pcMwA: (max-width: 1080px);
$pcMXp: (max-width: 1180px);
$pcS: (max-width: 1100px);
$margenPC: (max-width: $margenContainer);
$boostrabColMd9Menor: (max-width: 992px);
$pcSs: (max-width: 850px);
$moviles: (max-width: 770px);
$MovilesM: (max-width: 650px);
$mediaMs: (max-width: 580px);
$mediaXxs: (max-width:480px);
$iphone5: (max-width:350px);

$minMovil: (min-width: 770px);
$minpcSs: (min-width: 850px);
$boostrabColMd9Mayor: (min-width: 992px);
$mediaLg: (min-width:1200px);
$mediaHd: (min-width:1281px);
$mediaHdMayor: (min-width:1300px);
$mediaHdMaximo: (min-width:1500px);