{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es">
<head>
	<meta charset="utf-8" />
	<title>Administrador</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta content="" name="login admin" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
	<link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'css/fontawesome.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'css/simple-line-icons.css' %}" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/app.css' %}" />
	<link rel="shortcut icon" href="favicon.ico"/>
</head>
<body class="container-fluid login">
	<!-- LOADER -->
	<aside class="loading-adming">
		<div class="modalLoaderCont">
			<div id="loading">
				<div class="loader--dot"></div>
				<div class="loader--dot"></div>
				<div class="loader--dot"></div>
				<div class="loader--dot"></div>
				<div class="loader--dot"></div>
				<div class="loader--dot"></div>
				<div class="loader--text"></div>
			</div>
		</div>
	</aside>
	<!-- END LOADER -->
	<aside class="row align-items-center justify-content-center recordar-pass">
		<form id="emailpass" class="formpass" method="post" action="#">
			{% csrf_token %}
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Email</label>
				<div class="input-icon">
					<i class="fa fa-user iconManageLogin"></i>
					<input class="form-control placeholder-no-fix" type="email" autocomplete="off" placeholder="Email" name="email" id="email" />
				</div>
			</div>
			<div class="row justify-content-center form-actions">
				<button type="submit" class="btn btn-primary btn-lg btnrecordar">
					Enviar <i class="m-icon-swapright m-icon-white"></i>
				</button>
				<a href="#" class="btn btn-secondary btn-lg btncancelpass">
					Cancelar <i class="m-icon-swapright m-icon-white"></i>
				</a>
			</div>
		</form>
	</aside>
	<section class="row content">
		<div class="col-md col-xs-12"></div>
		<div class="col-md col-xs-12">
			<form id="login" class="formlogin" action="{% url 'manage:login' %}" method="post">
				<div class="row align-items-center justify-content-center caja-form">
					<div class="col-md-8 col-xs-12 mainLoginForm">
						<div class="logo">
							<figure>
								<a href="#">
									<img src="{% static 'images/logo.png' %}" alt="logo" />
								</a>
							</figure>
						</div>
						{% csrf_token %}
						<h3 class="form-title">Ingrese a su cuenta</h3>
						<div class="alert alert-danger display-hide display-none">
							<button class="close" data-close="alert"></button>
							<span>
							Ingrese nombre de usuario y contraseña. </span>
						</div>
						<div class="form-group">
							<label class="control-label visible-ie8 visible-ie9">Usuario</label>
							<div class="input-icon">
								<i class="fa fa-user iconManageLogin"></i>
								{{form.username}}
							</div>
						</div>
						<div class="form-group">
							<label class="control-label visible-ie8 visible-ie9">Contraseña</label>
							<div class="input-icon">
								<i class="fa fa-lock iconManageLogin"></i>
								{{form.password}}
							</div>
						</div>
						<div class="forget-password">
							<h4>
								<a href="#" id="forget-password">Olvidaste tu contraseña ?</a>
							</h4>
						</div>
						<div class="form-actions flex flex-center">
							<button type="submit" class="btn btn-primary btn-lg btnLogin">
								Iniciar <i class="m-icon-swapright m-icon-white"></i>
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
	<script src="{% static 'js/lib/jquery.min.js' %}"></script>
	<script src="{% static 'js/lib/jquery.backstretch.min.js' %}"></script>
	<script src="{% static 'js/lib/jquery.form.js' %}"></script>
	<script src="{% static 'js/lib/sweetalert2.min.js' %}"></script>
	<script src="{% static 'js/utils.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/admin_login.js' %}"></script>
	<script type="text/javascript">
		$(inicio_fondos);
		function inicio_fondos () {
			$.backstretch([
				"{% static 'images/1.jpg' %}",
				"{% static 'images/2.jpg' %}",
				"{% static 'images/3.jpg' %}",
				"{% static 'images/4.jpg' %}"
				], {
					fade: 1000,
					duration: 8000
				}
			);
		}
	</script>
</body>
</html>