{% extends "administrador/layout.html" %}
{% load staticfiles %}
{% block title %}Home{% endblock title %}

{% block selmenuadmin %}active{% endblock selmenuadmin %}

{% block content %}
	<section class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="h4 m-0">
              2
            </div>
            <div>
              pdfs
            </div>
            <div class="progress progress-xs my-3">
              <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div> 
        </div> 
      </div> 
    </div> 
  </section>
{% endblock content %}