{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="Admin Template" />
	<link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<title>{% block title %}Administrador{% endblock %}</title>
	<link type="text/css" rel="stylesheet" href="{% static 'css/fontawesome.css' %}" />
	{% block cssplugins %}{% endblock %}
	<link type="text/css" rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'js/lib/datatables/dataTables.bootstrap4.min.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'js/lib/datatables/FixedHeader/css/fixedHeader.bootstrap.min.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'js/lib/datatables/Responsive/css/responsive.bootstrap.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/app.css' %}" />
	{% block css %}{% endblock %}
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
	<!-- LOADER -->
	<aside class="loading-adming">
		<div class="modalLoaderCont">
			<div id="loading">
				<div class="loader--dot"></div>
				<div class="loader--dot"></div>
				<div class="loader--dot"></div>
				<div class="loader--dot"></div>
				<div class="loader--dot"></div>
				<div class="loader--dot"></div>
				<div class="loader--text"></div>
			</div>
		</div>
	</aside>
	<!-- END LOADER -->
	{% include 'administrador/includes/header.html' %}
	<section class="app-body">
		{% include 'administrador/includes/menuvertical.html' %}
		<section class="main">
			{% block content %}{% endblock %}
		</section>
	</section>
	{% include 'administrador/includes/footer.html' %}
	<script src="{% static 'js/lib/jquery.min.js' %}"></script>
	<script src="{% static 'js/lib/popper.min.js' %}"></script>
	<script src="{% static 'js/lib/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/lib/datatables/datatables.min.js' %}"></script>
	<script src="{% static 'js/lib/datatables/dataTables.bootstrap4.min.js' %}"></script>
	<script src="{% static 'js/lib/datatables/Responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'js/lib/pace.min.js' %}"></script>
	<script src="{% static 'js/lib/sweetalert2.min.js' %}"></script>
	<script src="{% static 'js/lib/Chart.min.js' %}"></script>
	<script src="{% static 'js/plantilla.js' %}"></script>
	<script src="{% static 'js/utils.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	{% block js %}{% endblock %}
</body>
</html>