{% extends "administrador/layout.html" %}
{% load staticfiles %}
{% block title %}Slider Imágenes{% endblock title %}

{% block selmenuslider %}active{% endblock selmenuslider %}

{% block content %}
<!-- BEGIN CONTENT -->
<div class="container-fluid">
	<div class="animated fadeIn">
		<div class="row">
			<div class="col-lg-12">
				<div class="card ">
					<div class="card-header">
						<div class="row">
							<div class="col-md-10"><h3>Sliders</h3></div>
							<div class="col-md-2 text-right"><a href="/manage/slidernewedit/add" class="btn btn-primary addItemBtn">Agregar nuevo</a></div>
						</div>
					</div>
					<div class="card-body">
						<div id="tokendiv">
							{% csrf_token %}
						</div>
						<table id="data-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>
										ID
									</th>
									<th>
										Titulo
									</th>
									<th>
										Imagen
									</th>
									<th>
										Acciones	
									</th>
								</tr>
							</thead>
							<tbody>
								{% for slider in imagenes %}
								<tr id="fila-anime{{slider.id}}">
									<td>
										<div>
											<span>{{slider.id}}</span>
										</div>
									</td>
									<td>
										<div>
											<span>{{slider.titulo}}</span>
										</div>
									</td>
									<td>
										<center>
											<figure class="miniatura" style="background-image: url({% static 'assets/images/' %}{{slider.image}});"></figure>
										</center>
									</td>
									<td>
										<div>
											<a href="/manage/slidernewedit/edit/{{slider.id}}" class="btn btn-primary"><i class="fa fa-cogs"></i> Modificar</a>
											<a href="/manage/deleteslider/{{slider.id}}" class="btn btn-danger delete-datos" data-id="{{slider.id}}"><i class="fa fa-remove"></i> Borrar</a>
										</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END CONTENT -->
{% endblock content %}
{% block js %}
	<script src="{% static 'js/lib/jquery.form.js' %}"></script>
	<script src="{% static 'js/slider_admin.js' %}"></script>
{% endblock js %}