{% extends "administrador/layout.html" %}
{% load staticfiles %}
{% block title %}Slider Imágenes{% endblock title %}

{% block selmenuslider %}active{% endblock selmenuslider %}

{% block content %}
<!-- BEGIN CONTENT -->
<div class="container-fluid">
	<div class="animated fadeIn">
		<div class="row">
			<div class="col-lg-12">
				<div class="card ">
					<div class="card-header">
						<div class="row">
							<div class="col-md-10"><h3>Sliders <small>{{actiontype.texto}}</small></h3></div>
						</div>
					</div>
					<div class="card-body">
						{% if actiontype.tipo == 'add' %}
							<form id="sliderForm" action="{% url 'manage:postnewslider' %}" method="post" enctype="multipart/form-data">
								{% csrf_token %}
								<input type="hidden" id="actiontype" name="actiontype" value="{{actiontype.tipo}}" />
								<div class="form-group">
									<label class="control-label">Titulo</label>
									<input type="text" id="titulo" name="titulo" class="form-control no-padding-control" placeholder="Titulo de slider">
								</div>
								<div class="form-group">
									<label class="control-label">Selecione la imagen</label><br>
									<input type="file" name="imagen" id="imagen">
								</div>
								<div class="form-actions right">
									<a href="{% url 'manage:slider' %}" class="btn default">Cancelar</a>
									<button id="enviar" class="btn blue"><i class="fa fa-check"></i> Guardar</button>
								</div>
							</form>
						{% elif actiontype.tipo == 'edit' %}
							<form id="sliderForm" action="{% url 'manage:posteditslider' %}" method="post" enctype="multipart/form-data">
								{% csrf_token %}
								<input type="hidden" name="id" id="id" value="{{slider.id}}">
								<input type="hidden" id="actiontype" name="actiontype" value="{{actiontype.tipo}}" />
								<div class="form-group">
									<label class="control-label">Titulo</label>
									<input type="text" id="titulo" name="titulo" class="form-control no-padding-control no-padding-control" placeholder="Titulo de slider" value="{{slider.titulo}}">
								</div>
								<figure class="fileinput-new thumbnail" style="width: 200px;">
									<img src="{% static 'assets/images/' %}{{slider.image}}" />
								</figure>
								<div class="form-group">
									<label class="control-label">Selecione la imagen</label>
									<input type="file" name="imagen" id="imagen">
								</div>
								<div class="form-actions right">
									<a href="{% url 'manage:slider' %}" class="btn default">Cancelar</a>
									<button id="enviar" class="btn blue"><i class="fa fa-check"></i> Guardar</button>
								</div>
							</form>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END CONTENT -->
{% endblock content %}
{% block js %}
	<script src="{% static 'js/lib/jquery.form.js' %}"></script>
	<script src="{% static 'js/slider_admin.js' %}"></script>
{% endblock js %}